.navigation {
  flex: 0 0 auto;
  width: 202px;
  padding-top: 30px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  color: #8E8E93;
  text-align: left;
  box-sizing: border-box;
  overflow: scroll;
}