.new-message-button {
  margin: 0 0 20px 30px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    background: #00B96E;
    border: 1px solid #00B96E;
    border-radius: 100px;
    box-sizing: border-box;
  }
}