.mail-box {
  margin: 0 21px 0 30px;
  border-bottom: 1px solid #f4f4f4;


  &__header {
    margin-bottom: 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #8F929D;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;

    &_inbox {}
    &_sent-mail {}
    &_drafts {}
    &_trash {}
    &_attachments {}
    &_more {}

    &_active,
    &:hover,
    &:focus,
    &:active {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      color: #4C4F59;
      cursor: pointer;
    }

    &-count {
      margin-left: 2px;
    }
  }

  &__empty {}
}